[DEFAULT]

company = BMO Financial Group
url = https://bmo.wd3.myworkdayjobs.com/External/
buttons =  //*[@id="wd-FacetValue-CheckBox-Country::a30a87ed25634629aa6c3958aa2b91ea"]/div 
keyword = data science machine
search_bar = //input[@id = 'wd-AdvancedFacetedSearch-SearchTextBox-input']

right_click = //div[@title = "Copy URL"]
url_selector = data-clipboard-text
links = //div[@data-automation-id = "compositeHeader"]
description = //div[contains(@id, 'jobDescription')]
title = //div[contains(@aria-labelledby , "jobPosting.title")]
separate_url = True
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/294961/BMO-MB_T2_E.png
