[DEFAULT]

company = BMO Financial Group
url = https://bmo.wd3.myworkdayjobs.com/External/

links = //a[@data-automation-id="jobTitle"]
description =  //div[@data-automation-id="jobPostingDescription"]
title = //h2[@data-automation-id="jobPostingHeader"]
separate_url = True
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/294961/BMO-MB_T2_E.png
