[DEFAULT]

company = BMO Financial Group
url = https://jobs.bmo.com/ca/en/c/technology-jobs
buttons = //button[@data-ph-at-text = "Job Family"] | //span[@data-ph-id = "ph-page-element-page23-L3lGKx"]/.. | //input[@data-ph-at-text = "Business Analysis"] 
search_bar = //input[@value.bind = "searchParams.subsearch"]
keyword = Data

links = //a[@ph-click-ctx="job"]
description = //div[@class = "jd-info au-target"]
location = //span[contains(@class, "job-location")]/text()
title = //h1[@class="job-title"]/text()
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/294961/BMO-MB_T2_E.png
