[DEFAULT]

company = Boreails AI


links = //a[@class = "job-listing__item__title"]
url = https://www.borealisai.com/en/careers/#careers-all-open-roles-section
title = //div[@class = "page-header__title"]/h1
description = //section[@class = "section section--no-divider"]
logo =  https://talenthub.vectorinstitute.ai/uploads/employer/logo/298882/canvass-logo-rgb_1_.jpg
separate_url = False
