[DEFAULT]

company = Canvass Analytics Inc. 


links = //a[@class = "job-listing-card w-inline-block"]
url = https://www.canvass.io/careers
title = //h1[contains(@class, "page-title-2")]
description = //div[contains(@class, "project-rich-text")]
logo =  https://talenthub.vectorinstitute.ai/uploads/employer/logo/298882/canvass-logo-rgb_1_.jpg
separate_url = False
