[DEFAULT]

company = CIBC
buttons = //div[@title = 'Canada'] | //div[@title = 'Ontario'] | //div[@title = 'Toronto, ON']  | //div[@title = 'Ottawa, ON'] | //div[@title = 'London, ON'] | //div[@title = 'Analytics and Reporting']
keyword = data analytics
search_bar = //input[@id = 'wd-AdvancedFacetedSearch-SearchTextBox-input']

right_click = //div[@title = "Copy URL"]
url_selector = data-clipboard-text
links = //div[@data-automation-id = "compositeHeader"]
url = https://cibc.wd3.myworkdayjobs.com/search
description = //div[contains(@id, 'jobDescription')]
title = //div[contains(@aria-labelledby , "jobPosting.title")]
logo =  https://talenthub.vectorinstitute.ai/uploads/employer/logo/298806/cibc-logo_1_.jpg
