[DEFAULT]

company = Clearpath

links = //td[@class="jv-job-list-name"]/a
url = http://jobs.jobvite.com/clearpath/?nl=1&fr=true
title = //h2[@class="jv-header"]
description = //div[@class="jv-job-detail-description"]
logo =  https://talenthub.vectorinstitute.ai/uploads/employer/logo/298856/clearpath-logo_1_.png
separate_url = Flase
