[DEFAULT]

company = CN
url = https://cn360.csod.com/ux/ats/careersite/1/home?c=cn360&sq=Data%%20Analytics&state=ontario&lang=en-US
links = //a[@data-tag="displayJobTitle"]
description = //div[@class="p-view-jobdetailsad"]/div[contains(@class, "p-panel")]
title = //h1[@data-tag="ReqTitle"]
separate_url = False
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/294961/BMO-MB_T2_E.png
