[DEFAULT]

company = FreshBooks 

links = //div[@department_id = "66866"]//a
url = https://boards.greenhouse.io/freshbooks
title = //h1[@class = "app-title"]
description =  //div[@id = "content"]
logo =  https://talenthub.vectorinstitute.ai/uploads/employer/logo/298859/freshbooks-logo_1_.png 
separate_url = False
