[DEFAULT]

company = Google


links = //ol[contains(@class, "gc-h-unstyled-list gc-p-results__results-list")]//li//a
url = https://careers.google.com/jobs/results/?distance=50&location=Toronto,%%20Canada&q=data
title = //h1[contains(@itemprop, "title")]
description = //div[@class = "gc-card__content"]/div[not(contains(@class, 'gc-job-detail__section--apply-bottom-container'))]
logo =  https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/evolving_google_identity_inline_002.jpg
separate_url = False
