[DEFAULT]

company = Intact

links = //a[@ph-tevent="job_click"]
url = https://careers.intactfc.com/ca/en/c/intact-lab-jobs
search_bar = //input[@value.bind="searchParams.subsearch"]
keyword = Ontario
description = //div[@data-ph-at-id="jobdescription-text"]
title = //h1[@class = "job-title"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298812/intact-logo_1_.jpg
separate_url = False
