[DEFAULT]

company = Manulife
buttons = //div[@title = 'Canada'] | //div[@title = 'Ontario'] 
keyword = data analytics machine
search_bar = //input[@id = 'wd-AdvancedFacetedSearch-SearchTextBox-input']

right_click = //div[@title = "Copy URL"]
url_selector = data-clipboard-text
links = //div[@data-automation-id = "compositeHeader"]
url = https://cibc.wd3.myworkdayjobs.com/search
description = //div[contains(@id, 'jobDescription')]
title = //div[contains(@aria-labelledby , "jobPosting.title")]
logo =  https://talenthub.vectorinstitute.ai/uploads/employer/logo/298819/manulife_rgb_1_.jpg
