[DEFAULT]

company = NVIDIA
buttons = (//div[@data-automation-id = "wd-MoreLink"])[2] | //div[@title = "Canada"] | //div[@title = "Canada, Toronto"]
keyword = data
search_bar = //input[@id = "wd-AdvancedFacetedSearch-SearchTextBox-input"]

right_click = //div[@title = "Copy URL"]
url_selector = data-clipboard-text
links = //div[@data-automation-id = "compositeHeader"]
url = https://nvidia.wd5.myworkdayjobs.com/NVIDIAExternalCareerSite/3/refreshFacet/318c8bb6f553100021d223d9780d30be
description = //div[contains(@id, 'jobDescription')]
title = //div[@aria-labelledby = "richTextArea.jobPosting.title-input--uid3-input-formLabel"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298516/nvidia-logo.jpg
separate_url = False
