[DEFAULT]

company = OMERS
buttons = //div[@title = "Canada"] 
keyword = data analytics
search_bar = //input[@id = "wd-AdvancedFacetedSearch-SearchTextBox-input"]

right_click = //div[@title = "Copy URL"]
url_selector = data-clipboard-text
links = //div[@data-automation-id = "compositeHeader"]
url = https://omers.wd3.myworkdayjobs.com/en-US/OMERS_External
description = //div[contains(@id, 'jobDescription')]
title = //div[@aria-labelledby = "richTextArea.jobPosting.title-input--uid3-input-formLabel"]
logo = https://images.ctfassets.net/iifcbkds7nke/6GDE2X9ZAuqppSxbjWDr4F/2e2d71191ef56450d79fafa5b1946b1e/omers-logo-colour.svg
separate_url = False
