[DEFAULT]

company = RBC


links = //a[@ph-tevent="job_click"]
url = https://jobs.rbc.com/ca/en/search-results?keywords=analytics
title = //div[@data-ph-at-id="job-info"]//h1
description = //div[@data-ph-at-id="jobdescription-text"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/294574/RBC_rgbP.jpg
separate_url = True
