[DEFAULT]

company = Roche
buttons = //div[@class="onetrust-pc-dark-filter ot-hide ot-fade-in"] | //button[@aria-controls="SubCategoryBody"] | //input[@data-ph-at-text="Digitalisation / Data / Insights"]
keyword = ontario
search_bar = //input[@data-ph-at-id="sub-search-textbox"]
links = //div[@class="job-title"]
url = https://careers.roche.com/global/en/search-results
description = //div[@class = "job-description"]
title = //h1[@class = "job-title"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298823/thales-logo_1_.jpg
separate_url = False
