[DEFAULT]

company = Shopify


links = //a[@aria-label = "view job posting:"]
url = https://www.shopify.ca/careers/search?teams%%5B%%5D=data&locations%%5B%%5D=Canada&keywords=&sort=team_asc
title = //h1[@class = "heading--jumbo"]
description = //div[@class = "grid__item grid__item--tablet-up-two-thirds job-posting__grid-content"]/div[not(contains(@a, "link link--secondary link--point-right"))]/..
logo =  https://talenthub.vectorinstitute.ai/uploads/employer/logo/298787/shopify_logo_square.png
separate_url = False











