[DEFAULT]

company = Sunlife
buttons = //div[@title = "Canada"] | //div[@title = "Toronto, Ontario"]  | //div[@title = "Advanced Analytics"] 
keyword = analytics
search_bar = //input[@id = "wd-AdvancedFacetedSearch-SearchTextBox-input"]

right_click = //div[@title = "Copy URL"]
url_selector = data-clipboard-text
links = //div[@data-automation-id = "compositeHeader"]
url = https://sunlife.wd3.myworkdayjobs.com/Experienced-Jobs/2/refreshFacet/318c8bb6f553100021d223d9780d30be
title = //div[@id = 'richTextArea.jobPosting.title-input--uid3-input']
description = //div[contains(@id, 'wd-PageContent-vbox')]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298821/Logo.png
separate_url = True
