[DEFAULT]

company = Sun Life Financial
buttons = //div[@title = "Canada"] | //div[@title = "Toronto, Ontario"] | //div[@title = "Waterloo, Ontario"] | //div[@title = "North York, Ontario"]
keyword = data machine
search_bar = //input[@id = "wd-AdvancedFacetedSearch-SearchTextBox-input"]

right_click = //div[@title = "Copy URL"]
url_selector = data-clipboard-text
links = //div[@data-automation-id = "compositeHeader"]
url = https://sunlife.wd3.myworkdayjobs.com/Experienced-Jobs/2/refreshFacet/318c8bb6f553100021d223d9780d30be
title = //div(contains(@id , 'richTextArea.jobPosting.title'))
description = //div[@id = "richTextArea.jobPosting.jobDescription-input"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298821/Logo.png
separate_url = True
