  
[DEFAULT]

company = Telus


links = //a[@class = "job_link font_bold"]
url = https://telusjobs.telus.com/jobs/search/3881622
title = //h1[@class = "title"]
description = //div[@class = "job_description"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298822/Telus_PNG.PNG
separate_url = False
