  
[DEFAULT]

company = Telus


links = //span[@class = "jobTitle visible-phone"]//a
url = https://careers.telus.com/search/?createNewAlert=false&q=%%22data+science%%22+%%22machine+learning%%22&locationsearch=ON&optionsFacetsDD_customfield5=&optionsFacetsDD_department=&optionsFacetsDD_customfield1=&optionsFacetsDD_customfield2=
title = //span[@itemprop = "title"]
description =title = //span[@class = "jobdescription"]//div
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298822/Telus_PNG.PNG
separate_url = False
