[DEFAULT]

company = Thales
buttons = //button[@data-dashlane-rid="5f6c9540d31973fd"] | //input[@id = "47200b8529d910216a6cd92c6e3634d2"] | //button[@data-automation-id="viewAllJobsButton"] | 
keyword = Data+Ontario
search_bar = //input[@data-automation-id="keywordSearchInput"]
links = //a[@data-automation-id="jobTitle"]
url = https://jobs.thalesgroup.com/location/canada-jobs/1766-23141-23081-23007-27280/6251999/2
description = //div[@data-automation-id="jobPostingDescription"]
title = //h2[@data-automation-id="jobPostingHeader"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298823/thales-logo_1_.jpg
separate_url = False
