[DEFAULT]

company = Thales

links = //a[@data-automation-id="jobTitle"]
url = https://thales.wd3.myworkdayjobs.com/en-US/Careers/jobs?q=Data+Ontario&jobFamilyGroup=47200b8529d910216a6cd92c6e3634d2
description = //div[@data-automation-id="jobPostingDescription"]
title = //h2[@data-automation-id="jobPostingHeader"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298823/thales-logo_1_.jpg
separate_url = False
