[DEFAULT]

company = Thales
buttons = //a[@id = "region-toggle"] | //a[@id = "category-toggle"] | //button[@id = "gdpr-button"] | //input[@data-display = "Software - IS/IT & Cybersecurity"] | //label[@for = "region-filter-0"]

links = //a[contains(@data-job-id, '9')]
url = https://jobs.thalesgroup.com/location/canada-jobs/1766-23141-23081-23007-27280/6251999/2
description = //div[@class = "ats-description"]
title = //div[@class = "header-container"]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298823/thales-logo_1_.jpg
