[DEFAULT]

company = Thomson Reuters
buttons = //div[@title = "Canada"] | //div[@title = "Ontario"] | //div[@title ="Technology Development Family Group"]
keyword = data machine
search_bar = //input[@id = "wd-AdvancedFacetedSearch-SearchTextBox-input"]

right_click = //div[@title = "Copy URL"]
url_selector = data-clipboard-text
links = //div[@data-automation-id = "compositeHeader"]
url = https://thomsonreuters.wd5.myworkdayjobs.com/External_Career_Site/10/refreshFacet/318c8bb6f553100021d223d9780d30be
description = //div[contains(@id, 'jobDescription')]
title = //div[contains(@aria-labelledby , "jobPosting.title")]
logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/294572/tr_v_lg_rgb_ps.png
separate_url = True
