[DEFAULT]
########################
# Company-level fields #
########################
# Company name
company_name = Ada

# Main job page URL
url = https://jobs.lever.co/ada?department=Development&team=Machine%%20Learning

###################
# Job list fields #
###################
# XPath specifying a job listing link
joblist.link.xpath = //a[@class="posting-title"]

# Boolean (True/False) specifying if this site uses pagination
joblist.pagination = NONE

# CSS selector specifying the "next page" button for pagination (this value is ignored if "joblist.pagination" is False)
joblist.nextpage.css = ...

######################
# Job details fields #
######################
# XPath specifying the job title text
jobdetails.title.xpath = //div[@class="posting-headline"]/h2/text()

# XPath specifying the job location text (e.g.: City, Province)
jobdetails.location.xpath = //div[contains(@class, "sort-by-time")]/text()

# XPath specifying the job description
# This can either specify the top-level element containing the description, or
# it can specify a list of elements to be joined together
jobdetails.description.xpath = //div[@class="section page-centered"]


# Boolean (True/False) specifying whether this job uses URL for application
# If False, must specify "jobdetails.application_email"
jobdetails.is_url_application = True

# Email address to use for applications (this value is ignored if "jobdetails.is_url_application" is True)
jobdetails.application_email = ...

# URL of the company logo (can be found in the Employers export from jobboard)
jobdetails.logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298879/ada-logo_1_.png

