[DEFAULT]
company_name = Air Canada
url = https://careers.aircanada.com/search/information-tech/jobs?location=toronto

# Job list fields
joblist.link.xpath = //div[contains(@class, "jobs-section__item-title")]//a
joblist.link.css = div.jobs-section__item-title
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //div[@class="small-12 large-9 columns"]//h1
jobdetails.location.xpath = //div[@class="small-12 large-9 columns"]//p
jobdetails.description.xpath = //div[@class="page-section--full"]/ul
jobdetails.is_url_application = True
jobdetails.logo = https://careers.aircanada.com/system/production/assets/103099/original/air-canada-logo.png?s=3e0a877b7db75723



