[DEFAULT]
company_name = CANVASS
url = https://www.canvass.io/careers

# Job list fields
joblist.link.xpath = //div[contains(@class, "w-dyn-items")]//div//a
joblist.css = a.job-listing-card
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //h1[contains(@class, "page-title-2")]/text()
jobdetails.location.xpath = //div[contains(@class, "job-listing-info-text")]/text()
jobdetails.description.xpath = //div[contains(@class, "project-rich-text")]
jobdetails.is_url_application = True
jobdetails.logo = https://global-uploads.webflow.com/6047c01673f666512c81fabf/6048272db932b9fa32c1f6f2_Canvass%%20Logo%%20RGB%%20(1).png
