[DEFAULT]
company_name = Clearpath
url = http://jobs.jobvite.com/clearpath/?nl=1&fr=true

# Job list fields
joblist.link.xpath = //td[@class="jv-job-list-name"]/a
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //h2[@class="jv-header"]/text()
# grab the last node (usually the location?) of the meta header
jobdetails.location.xpath = //p[@class="jv-job-detail-meta"]//node()[last()]
jobdetails.description.xpath = //div[@class="jv-job-detail-description"]
jobdetails.is_url_application = True
# grab the first node (index=1) of the meta header to use as the category
jobdetails.category.xpath = //p[@class="jv-job-detail-meta"]//node()[1]
jobdetails.logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298856/clearpath-logo_1_.png