[DEFAULT]
company_name = CN Internship
url = https://cn360.csod.com/ux/ats/careersite/6/home?c=cn360&lang=en-US

# Job list fields
joblist.link.xpath = //a[contains(@data-tag, "displayJobTitle")]
joblist.css = a.displayJobTitle
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //h1[contains(@data-tag, "ReqTitle")]/text()
jobdetails.location.xpath = //span[contains(@data-tag, "LocationDisplayTitle")]/text()
jobdetails.description.xpath = //div[contains(@class, "p-view-jobdetailsad")]
jobdetails.is_url_application = True
jobdetails.logo = https://cn360.csod.com/clientimg/cn360/logo/CNlogo_4807fb2a-b7e9-45d5-aab5-154c994a7a40.png
