[DEFAULT]
company_name = DarwinAI
url = https://darwinai.humi.ca/job-board

# Job list fields
joblist.link.xpath = //div[contains(@class, "twelve wide column")]//div//a
joblist.link.css = div.four.wide.column
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //div[contains(@class, "ui left floated large header")]/text()
jobdetails.location.xpath = //div[contains(@class, "ui sub header")]/text()
jobdetails.description.xpath = //div[contains(@class, "ql-editor")]
jobdetails.is_url_application = True
jobdetails.logo = https://darwinai.humi.ca/job-board/logo

