[DEFAULT]
company_name = Deep Genomics
url = https://jobs.lever.co/deepgenomics

# Job list fields
joblist.link.xpath = //a[contains(@class, 'posting-title')]
joblist.link.css = a.posting-title
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //div[@class="posting-headline"]/h2/text()
jobdetails.location.xpath = //div[@class="sort-by-time posting-category medium-category-label"]/text()
jobdetails.description.xpath = //div[contains(@class, 'section-wrapper page-full-width')]
jobdetails.is_url_application = True
jobdetails.logo = https://lever-client-logos.s3.amazonaws.com/294ab747-e3a2-49f1-a06b-cadf5a0f8a36-1485189267253.png
