[DEFAULT]
########################
# Company-level fields #
########################
# Company name
company_name = Deloitte

# Main job page URL
url = https://careers.deloitte.ca/search/?createNewAlert=false&q=omnia+AND+ontario

###################
# Job list fields #
###################
# XPath specifying a job listing link
joblist.link.xpath = //td/span[contains(@class, "jobTitle")]/a

# One of: NONE, NEXTPAGE, PAGENUMBER or INFINITESCROLL
# ----
# A value of NONE specifies that this company has no pagination
# ----
# A value of NEXTPAGE specifies that this company has pagination with a "next" button
#   in this case, "joblist.nextpage.css" should be a CSS selector for the "next" button
# ----
# A value of PAGENUMBER specifies that this company has pagination with page number buttons
#   in this case, "joblist.nextpage.css" should be a CSS selector for a page number,
#   and must include a $PAGENUMBER placeholder that will be dynamically filled in
# ----
# A value of INFINITESCROLL specifies that this company has an infinite scroll pagination (without buttons)
#   TODO: currently not supported in the scraper
joblist.pagination = PAGENUMBER

# CSS selector specifying the "next page" button if "joblist.pagination" is NEXTPAGE, or
# specifying a page number button with $PAGENUMBER placeholder if "joblist.pagination" is PAGENUMBER
joblist.nextpage.css = ul.pagination a[title="Page $PAGENUMBER"]

######################
# Job details fields #
######################
# XPath specifying the job title text
jobdetails.title.xpath = //h1[@id="job-title"]/text()

# XPath specifying the job location text (e.g.: City, Province)
## Gets the immediate sibling node of the <strong>Primary Location:</strong> node, which contains the location
jobdetails.location.xpath = //span[@class="jobdescription"]//strong[contains(text(), "Primary Location")]/following-sibling::node()[1]

# XPath specifying the top-most element containing the job description
# This can either specify the top-level element containing the description, or
# it can specify a list of elements to be joined together
jobdetails.description.xpath = //div[@class="jobContent"]

# Boolean (True/False) specifying whether this job uses URL for application
# If False, must specify "jobdetails.application_email"
jobdetails.is_url_application = True

# Email address to use for applications (this value is ignored if "jobdetails.is_url_application" is True)
jobdetails.application_email = ...

# URL of the company logo (can be found in the Employers export from jobboard)
jobdetails.logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298808/deloitte-logo_1_.png