[DEFAULT]
company_name = EY
url = https://eygbl.referrals.selectminds.com/experienced-opportunities/jobs/search/109022740

# Job list fields
joblist.link.xpath = //div[contains(@class, "jlr_right_hldr ")]//div//p//a
joblist.css = a.job_link
joblist.pagination = PAGENUMBER
joblist.nextpage.css = div.pagination a[data-page = "$PAGENUMBER"]

# Job details fields
jobdetails.title.xpath = //h1[contains(@class, "title")]/text()
jobdetails.location.xpath = //h4[contains(@class, "primary_location")]//a/text()
jobdetails.description.xpath = //div[contains(@class, "job_description")]
jobdetails.is_url_application = True
jobdetails.logo = https://eygbl.referrals.selectminds.com/media/client_13_s4_r0_v1522074694350_main.png
