[DEFAULT]
company_name = Google
url = https://careers.google.com/jobs/results/?distance=50&location=Toronto,%%20Canada&q=data

# Job list fields
joblist.link.xpath = //ol[contains(@class, "gc-h-unstyled-list gc-p-results__results-list")]//li//a
joblist.css = a.gc-card
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //h1[contains(@itemprop, "title")]/text()
jobdetails.location.xpath = //div[contains(@itemprop, "address")]//span/text()
jobdetails.description.xpath = //div[@itemprop="description"]
jobdetails.is_url_application = True
jobdetails.logo = https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/evolving_google_identity_inline_002.jpg
