[DEFAULT]
company_name = IntegrateAI
url = https://boards.greenhouse.io/integrateai

# Job list fields
joblist.link.xpath = //a[contains(@data-mapped, "true")]
joblist.link.css = div.opening
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //h1[@class="app-title"]/text()
jobdetails.location.xpath = //div[@class="location"]/text()
jobdetails.description.xpath = //div[@id="content"]
jobdetails.is_url_application = True
jobdetails.logo = https://s2-recruiting.cdn.greenhouse.io/external_greenhouse_job_boards/logos/400/504/600/resized/Copy_of_Social_image_for_website_sharing_-_Logo.png?1572450267

