[DEFAULT]
company_name = KPMG
url = https://careers.kpmg.ca/professionals/jobs?lang=en-US

# Job list fields
joblist.link.xpath = //a[contains(@class, "job-title-link")]
joblist.link.css = a.job-title-link
joblist.nextpage.css = button.mat-paginator-navigation-next
joblist.pagination = NEXTPAGE

# Job details fields
jobdetails.title.xpath = //div[contains(@class, "header-section")]//h1/text()
jobdetails.location.xpath = //li[contains(@id, "header-locations")]//span/text()
jobdetails.description.xpath = //article[contains(@itemprop, "description")]
jobdetails.is_url_application = True
jobdetails.logo = https://cms.jibecdn.com/prod/kpmgca/assets/HEADER-NAV_LOGO-en-us-1588338785187.png
