[DEFAULT]
company_name = Layer6
url = https://layer6.ai/careers/#

# Job list fields
joblist.link.xpath = //button[contains(@class, "button__icon")]
joblist.link.css = article.singleJob
joblist.pagination = None

# Job details fields
jobdetails.title.xpath = //h1[@class="singleJobModal__title"]/strong/text()
jobdetails.location.xpath = //div[@class="singleJobModal__footer"]/p/text()
jobdetails.description.xpath = //div[contains(@class, 'singleJobModal__inner')]/div
jobdetails.is_url_application = True
jobdetails.logo = http://layer6.ai/wp-content/uploads/2018/11/og-image.png
