[DEFAULT]
company_name = Loblaw Companies Ltd.
url = https://www.loblaw.ca/en/find-jobs?page=1&q=&lang=en&division=Analytics%%2CAnalytics%%20%%26%%20Insights%%2CStudent&city=&job_type=&store=

# Job list fields
joblist.link.xpath = //div[contains(@class, "search-jobs__job")]/a
joblist.pagination = NONE

# Job details fields
jobdetails.title.xpath = //div[@data-metadata-id="richTextArea.jobPosting.title"]/div/h1/text()
jobdetails.location.xpath = //div[@id="labeledImage.LOCATION"]//text()
jobdetails.description.xpath = //div[@id="richTextArea.jobPosting.jobDescription-input"]
jobdetails.is_url_application = True
jobdetails.logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298520/LCL_Stacked_EN_CMYK-300x141.jpg