[DEFAULT]
company_name = Manulife
url = https://jobs.manulife.com/en-us/ListJobs?Country=CA&Category=Advanced+Analytics+-+AI+Group

# Job list fields
joblist.link.xpath = //td[@class="JobTitle-cell"]/a
joblist.nextpage.css = a[title="Next"]
joblist.pagination = NEXTPAGE

# Job details fields
jobdetails.title.xpath = //h1[@class="job-detail-title"]/text()
jobdetails.location.xpath = //div[@class="job-detail-location"]/text()
jobdetails.description.xpath = //div[@class="job-detail-jobdescription"]
jobdetails.is_url_application = True
jobdetails.logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/298819/manulife_rgb_1_.jpg