[DEFAULT]
########################
# Company-level fields #
########################
# Company name
company_name = Thomson Reuters

# Main job page URL
url = https://jobs.thomsonreuters.com/ListJobs/All/Search/tr-job-function/technology-development/tr-other-locations/canada/

###################
# Job list fields #
###################
# XPath specifying a job listing link
joblist.link.xpath = //td[@class="coloriginaljobtitle"]/a

# One of: NONE, NEXTPAGE, PAGENUMBER or INFINITESCROLL
# ----
# A value of NONE specifies that this company has no pagination
# ----
# A value of NEXTPAGE specifies that this company has pagination with a "next" button
#   in this case, "joblist.nextpage.css" should be a CSS selector for the "next" button
# ----
# A value of PAGENUMBER specifies that this company has pagination with page number buttons
#   in this case, "joblist.nextpage.css" should be a CSS selector for a page number,
#   and must include a $PAGENUMBER placeholder that will be dynamically filled in
# ----
# A value of INFINITESCROLL specifies that this company has an infinite scroll pagination (without buttons)
#   TODO: currently not supported in the scraper
joblist.pagination = NEXTPAGE

# CSS selector specifying the "next page" button if "joblist.pagination" is NEXTPAGE, or
# specifying a page number button with $PAGENUMBER placeholder if "joblist.pagination" is PAGENUMBER
joblist.nextpage.css = a.pager-next-arrow

######################
# Job details fields #
######################
# XPath specifying the job title text
jobdetails.title.xpath = //div[@class="jd-left"]/h1/text()

# XPath specifying the job location text (e.g.: City, Province)
## find a div under <div[class=job-fields]> that has a <strong> child with text equal to "Locations:"
## for this div, select the last text-node
jobdetails.location.xpath = //div[@class="job-fields"]/div[strong/text() = "Locations:"]/text()[last()]

# XPath specifying the top-most element containing the job description
# This can either specify the top-level element containing the description, or
# it can specify a list of elements to be joined together
## get any text() descendants of the description, OR, any descendants without a text() node
## this way, we will also pick up "artificial line breaks" in the description
jobdetails.description.xpath = //div[@class="desc"]

# Boolean (True/False) specifying whether this job uses URL for application
# If False, must specify "jobdetails.application_email"
jobdetails.is_url_application = True

# Email address to use for applications (this value is ignored if "jobdetails.is_url_application" is True)
jobdetails.application_email = ...

# URL of the company logo (can be found in the Employers export from jobboard)
jobdetails.logo = https://talenthub.vectorinstitute.ai/uploads/employer/logo/294572/tr_v_lg_rgb_ps.png

# Optional URL UTM parameters to be added to job application link
# Note: Set this value to "None" if no params should be added
jobdetails.url_utm_params = ?SourceID-APPLICANT_SOURCE-3-713