[DEFAULT]
company_name = Vector Institute
url = https://vectorinstitute.bamboohr.com/jobs/
scrapable = No

# Job list fields
joblist.link.xpath = //div[contains(@itemtype, "http://schema.org/JobPosting")]//div//a
joblist.link.css = a.ResAts__listing-link

# Job details fields
jobdetails.title.xpath = //div[contains(@class, "col-xs-12 col-sm-8 col-md-12")]
jobdetails.location.xpath = //span[contains(@class, "ResAts__card-subtitle")]
jobdetails.description.xpath = //div[contains(@class, "ResAts__card-content")]
jobdetails.is_url_application = True
jobdetails.logo = https://images3.bamboohr.com/93316/logos/cropped.jpg?v=29
